body {
  font-size: 11pt;
}

section, .row > section {
  margin: 0 0 1.5em 0 !important;
}

#header {
  height: 250px;
  padding: 6em 20px 6em 20px;
}
#posts {
  width: 450px;
  margin: auto;
}
#header .logo {
  width: 80%;
}
#kinopoli img {
  width: 80%;
}
.main > .content {
  padding: 3em 20px 3em 20px;
}

.main > .content h3 {
  font-size: 1.25em;
}

#footer {
  min-height: 40px;
  box-shadow: none;
}