@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}

body {
  background: url('lightbg.jpg') repeat-x 0 0 #d9dadc;
  margin: 0;
  color: #dbdbdb;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -0.1px;
  text-rendering: optimizeLegibility;
}


p {
  margin: 6px 0;
}

a,
a:active,
a:visited,
a:hover {
  background-color: transparent;
  outline: 0;
  color: #e0b348;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: #f2c862;
}


h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #dbdbdb;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  text-rendering: optimizeLegibility;
  margin: 5px 0px 10px 0px;
}

h1 {
  font-size: 60px;
  margin-top: 55px;
}

h2 {
  margin-top: 60px;
  font-size: 30px;
}

.big {
  font-size: 20px;
  font-weight: 400;
}

div.right {
  border-left: 5px solid #cccccc;
  background-color: #0e0e0e;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 80px;
  margin-left: -100px;
  min-height: 100%;
  height: auto;
}

.speaker img {
  height: 500px;
  margin-top: 75px;
}
.footer {
  margin-top: 100px;
  margin-bottom: 20px;
}
.footer .logo {
  float: right;
  opacity: 0.6;
}
.footer .logo:hover {
  opacity: 0.75;
}
.signup {
  margin: 15px 0;
}
img {
  border: 0;
}
@media screen and (max-width : 760px) {

 div.right {
  position: static;
  margin-left: 0;
  padding: 10px;
  border-left: none;
 }

  .speaker {
    text-align: center;
  }
 body {
   background: none repeat-x 0 0 #f6f9ff;
 }
}


@media screen and (min-width : 761px) and (max-width : 1160px) {
  div.speaker {
    margin-left: 50px;
  }
  div.right {
    left: 350px;
  }
}

@media screen and (min-width : 1161px) {
  div.speaker {
    position: absolute;
    right: 50%;
    margin-right: 180px;

  }
  div.right {
    left: 50%;
  }
p {
 width: 560px;
 }
}